In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train_data = train[['cfips', 'first_day_of_month', 'microbusiness_density']]

In [4]:
train_data = train_data.astype({'cfips':'category', 'first_day_of_month':'datetime64[ns]'})

In [5]:
train_data.sort_values(by=['cfips', 'first_day_of_month'])

        cfips first_day_of_month  microbusiness_density
0        1001         2019-08-01               3.007682
1        1001         2019-09-01               2.884870
2        1001         2019-10-01               3.055843
3        1001         2019-11-01               2.993233
4        1001         2019-12-01               2.993233
...       ...                ...                    ...
122260  56045         2022-06-01               1.803249
122261  56045         2022-07-01               1.803249
122262  56045         2022-08-01               1.785395
122263  56045         2022-09-01               1.785395
122264  56045         2022-10-01               1.785395

[122265 rows x 3 columns]

In [6]:
lastval = train_data.groupby(by='cfips')['microbusiness_density'].last()

In [8]:
lastval

cfips
1001      3.463856
1003      8.359798
1005      1.232074
1007      1.287240
1009      1.831783
           ...
56037     2.823801
56039    26.273220
56041     4.009369
56043     3.126551
56045     1.785395
Name: microbusiness_density, Length: 3135, dtype: float64

In [9]:
test = pd.read_csv('test.csv')

In [14]:
test['microbusiness_density'] = test['cfips'].apply(lambda x: lastval.loc[lastval.index==x].values[0])

In [15]:
test

                 row_id  cfips first_day_of_month  microbusiness_density
0       1001_2022-11-01   1001         2022-11-01               3.463856
1       1003_2022-11-01   1003         2022-11-01               8.359798
2       1005_2022-11-01   1005         2022-11-01               1.232074
3       1007_2022-11-01   1007         2022-11-01               1.287240
4       1009_2022-11-01   1009         2022-11-01               1.831783
...                 ...    ...                ...                    ...
25075  56037_2023-06-01  56037         2023-06-01               2.823801
25076  56039_2023-06-01  56039         2023-06-01              26.273220
25077  56041_2023-06-01  56041         2023-06-01               4.009369
25078  56043_2023-06-01  56043         2023-06-01               3.126551
25079  56045_2023-06-01  56045         2023-06-01               1.785395

[25080 rows x 4 columns]

In [19]:
test.drop(columns = ['cfips', 'first_day_of_month'], inplace = True)

In [20]:
test

                 row_id  microbusiness_density
0       1001_2022-11-01               3.463856
1       1003_2022-11-01               8.359798
2       1005_2022-11-01               1.232074
3       1007_2022-11-01               1.287240
4       1009_2022-11-01               1.831783
...                 ...                    ...
25075  56037_2023-06-01               2.823801
25076  56039_2023-06-01              26.273220
25077  56041_2023-06-01               4.009369
25078  56043_2023-06-01               3.126551
25079  56045_2023-06-01               1.785395

[25080 rows x 2 columns]

In [21]:
test.to_csv('submission_base.csv', index=False)

Kaggle SMAPE = 1.093